#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&lt { tapping-term-ms = <150>; };

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hm2: hm2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HM2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL                &kp N1              &kp N2          &kp N3            &hm LS(LG(NUMBER_4)) N4  &kp N5              &none                                                                                &none      &kp N6  &kp N7  &kp N8           &kp N9           &kp N0                       &kp MINUS
&kp TAB                  &kp Q               &kp W           &kp E             &kp R                    &kp T               &kp LS(LA(SPACE))                                                                    &none      &kp Y   &kp U   &kp I            &kp O            &kp P                        &kp BSLH
&mt LEFT_CONTROL ESCAPE  &hm LEFT_COMMAND A  &hm LEFT_ALT S  &hm LEFT_SHIFT D  &lt 1 F                  &hm LS(LEFT_ALT) G  &none              &lt 4 LEFT_CONTROL  &kp LALT      &kp LGUI   &lt 4 RIGHT_CONTROL  &none      &kp H   &kp J   &hm RIGHT_ALT K  &hm RIGHT_ALT L  &hm RIGHT_COMMAND SEMICOLON  &kp SQT
&kp LSHFT                &kp Z               &kp X           &kp C             &kp V                    &kp B                                                      &kp HOME      &kp PG_UP                                  &kp N   &kp M   &kp COMMA        &kp DOT          &kp FSLH                     &kp RSHFT
&none                    &kp GRAVE           &none           &kp LEFT          &kp RIGHT                                    &kp SPACE          &kp BACKSPACE       &kp END       &kp PG_DN  &kp TAB              &kp ENTER          &kp UP  &kp DOWN         &kp LBKT         &kp RBKT                     &none
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2  &kp N3    &kp N4     &kp N5  &trans                                                        &trans     &kp N6  &kp KP_NUM       &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W   &kp E     &kp R      &kp T   &trans                                                        &trans     &kp Y   &kp KP_N7        &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S   &kp D     &kp F      &kp G   &trans     &kp LCTRL      &kp LALT      &kp LGUI   &kp RCTRL  &trans     &kp H   &kp KP_N4        &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X   &kp C     &kp V      &kp B                             &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1        &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&trans     &kp GRAVE  &none   &kp LEFT  &kp RIGHT          &kp SPACE  &kp BACKSPACE  &kp END       &kp PG_DN  &kp F4     &kp ENTER          &kp KP_NUMBER_0  &kp KP_DOT    &kp KP_DOT     &kp RBKT         &trans
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        symbols_layer {
            bindings = <
&trans  &trans           &trans       &trans                &trans                 &trans     &trans                                      &trans  &trans    &trans    &trans        &trans     &trans  &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE   &trans                                      &trans  &trans    &trans    &trans        &trans     &trans  &trans
&trans  &kp HASH         &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE  &trans  &trans  &trans      &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &kp PERCENT      &kp CARET    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE                  &trans      &trans                  &trans    &trans    &trans        &trans     &trans  &trans
&trans  &trans           &trans       &trans                &trans                            &trans  &trans  &trans      &trans  &trans  &trans            &trans    &trans        &trans     &trans  &trans
            >;
        };
    };
};
